*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FBF4F1;
}

header{
    display: flex;
    height: 120px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    background: #DFCEC6;

    /* typography */
    color: #4A3030;
    text-align: center;
    font-family: Karla, Helvetica, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    align-self: stretch;
    background: #FBF4F1;
}

footer{
    display: flex;
    height: 64px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    background: #DFCEC6;
    max-height: 104px;

    color: #4A3030;
    text-align: center;
    font-family: Karla, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-image{
    display: flex;
    height: 270px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.row{
    display: flex;
    padding: 32px 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}

.subpage{
    width: 300px;
    height: 300px;
    border-radius: 32px;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.subpage-title{
    width: 400px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.75);
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    overflow: hidden;
}

.subpage-image{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.labelcontainer{
    display: flex;
    width: fit-content;
    max-width: 300px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(32, 21, 5, 0.70);
    position: relative;
    bottom: 100px;
}

.text-space{
    display: flex;
padding: 36px 60px;
flex-direction: column;
align-items: flex-start;
gap: 22px;
flex: 1 0 0;
align-self: stretch;
border-radius: 20px;
background: #FFF;
}

.text-space_subtitle{
    display: flex;
height: 47px;
flex-direction: column;
justify-content: flex-end;
align-self: stretch;
color: #000;
font-family: Lato, Helvetica, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.text-space_body{
    align-self: stretch;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.menu{
    display: flex;
    width: 240px;
    padding: 18px 15px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 20px;
background: #7F746F;
box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button{
    display: flex;
width: 248px;
height: 76px;
padding: 11px 0px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
background: #3B3030;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-title{
    display: flex;
flex-direction: column;
justify-content: center;
flex: 1 0 0;
align-self: stretch;
color: #FFF;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.vertical-spacer{
    width: 40px;
    align-self: stretch;
}

.horizontal-spacer{
    height: 24px;
    flex-shrink: 0;
    align-self: stretch;
}

.img-container{
display: flex;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 64px;
padding-right: 64px;
justify-content: center;
align-items: center;
align-self: stretch;
flex-wrap: wrap;
position: relative;
}

div.bmc_3dviewer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family:'Courier New', Courier, monospace */
}
/* 
* Generic rule that defines the size
* of a viewer if width and height is not
* more specifically defined. 
*/
div.bmc_3dviewer, div.bmc_3dviewer div.overlay {
    width:300px; 
    height:300px; 
}

div.bmc_3dviewer svg circle.hidden, div.bmc_3dviewer svg g.hidden text, div.bmc_3dviewer svg g.hidden rect {
    display: none;
}
div.bmc_3dviewer svg g text {
    fill:black;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
}
div.bmc_3dviewer svg {
    cursor: grab;
}
div.bmc_3dviewer svg.hidden {
    visibility: hidden;
}
div.bmc_3dviewer svg g rect {
    fill:white;
    rx: 10px;
}
div.bmc_3dviewer svg circle {
    fill:black;
    stroke:white;
    r: 5px;
}
div.bmc_3dviewer {
    position: relative;
    margin-left: 2em;
    margin-bottom: 2em;
}
div.bmc_3dviewer div.overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%; 
}
.bmc_3dviewer div.labelToggle {
    position: absolute;
    top:0;
    padding: 0.5em;
}
.bmc_3dviewer div.labelToggle.hidden {
    display: none;
}

.bmc_3dviewer div.labelToggle label {
    color:#DDDDDD;
    font-size: small;
}
.bmc_3dviewer div.cameraControls {
    position: absolute;
    top:0;
    right:0;
    padding: 0.5em;
}
.bmc_3dviewer div.debugger {
    position: absolute;
    right:0;
    top:0;
    width:14em;
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}
.bmc_3dviewer div.debugger h2, .bmc_3dviewer div.debugger{
    font-size: small;
}
.bmc_3dviewer div.debugger h2 {
    user-select: none;
    -webkit-user-select: none;
}
.bmc_3dviewer g.preloader rect{
    fill: none;
    stroke: black;
}
.bmc_3dviewer g.preloader rect.innerLoadBar{
    fill: #6666FF;
    stroke: none;
}
.bmc_3dviewer input.load_btn {

}
.bmc_3dviewer div.loadButtonContainer, .bmc_3dviewer div.cameraControls, .bmc_3dviewer div.labelToggle {
    user-select: none;
    -webkit-user-select: none;
}
.bmc_3dviewer div.loadButtonContainer {
    padding:0.25em;
    width:100%;
    text-align: center;
}
.bmc_3dviewer div.loadButtonContainer.insideBottomEdge {
    position: absolute;
    bottom: 0;
}
.bmc_3dviewer div.loadButtonContainer.insideCenter {
    position: absolute;
    top: 50%;
}